#content-confirm h2, #done h2 {
  font-size: 23px;
  font-weight: normal;
  font-family: "Pacifico", sans-serif;
}

#credits {
  font-family: sans-serif;
  font-size: 11px;
  font-style: italic;
  position: fixed;
  color: #808080;
  bottom: 0px;
  left: 5px;
  height: auto;
  width: 200px;
  /*background-color: #ff2d2d;*/
  background-color: transparent;
  z-index: 99;
}

#credits a {
  color: #808080; 
}

#info {
  font-family: sans-serif;
  position: fixed;
  color: #fff;
  top: 0px;
  right: 50px;
  height: auto;
  width: 220px;
  /*background-color: #ff2d2d;*/
  background-color: #c40000;
  opacity: 0.9;
  z-index: 100;
  /*border: 1px solid #fff;*/
  border-bottom: 2px solid #fff;
}

#info h1 {
  font-family: "Pacifico", sans-serif;
  font-size: 29px;
  font-weight: normal;
}

#info span {
  font-style: italic;
  font-size: 14px;
}

.info-container {
  margin: 10px 20px 20px 20px;
  text-align: center;
}

button {
  color: #fff;
  font-style: italic;
  width: 160px;
  height: 40px;
  margin-top: 10px;
  background-color: #c40000;
  border: 1px solid #fff;
  font-size: 14px;
}

button:hover {
  background-color: #f50000;
}

body {
  font-family: "Pacifico", sans-serif;
  font-size: 16px;
}

.leaflet-control-attribution a {
  color: #c40000 !important;
}

a.share-icon {
  color: #fff;
  font-family: sans-serif;
  font-style: italic;
  font-size: 14px;
}

i {
  color: #fff;
}

a.leaflet-control-zoom-in, a.leaflet-control-zoom-out {
  text-decoration: none;
  color: #000;
}

#map {
  width: 100%;
  height: auto;
}

.first {
  margin-top: 10px;
}

.second {
  margin-top: 5px; 
  margin-bottom: 5px;
}

.container {
  width: 100%; 
  margin: 0px 0px 0px 0px;
}

.title {
  margin-top: 0; 
  margin-bottom: 10px; 
  text-align: center;
}

.notice {
  text-align: center;
}

@media all and (max-width: 480px) {
  /* styles for iPhone/Android landscape (and really narrow browser windows) */
  .notice {
    font-size: 11px;
  }
}

@media all and (max-width: 320px) {
  /* styles for iPhone/Android portrait */
  .notice {
      font-size: 11px;
  }
}

@media all and (max-width: 240px) {
  /* styles for smaller devices */
  .notice{
    font-size: 11px;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  body {
    padding: 0px 0px 0px 0px;
  }
}

@font-face {
    font-family: 'Pacifico';
    src: url('/pacifico-webfont.eot');
    src: url('/pacifico-webfont.eot?#iefix') format('embedded-opentype'),
         url('/pacifico-webfont.woff') format('woff'),
         url('/pacifico-webfont.ttf') format('truetype'),
         url('/pacifico-webfont.svg#pacificoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}